## 1.5 Viewing Arrays and Matricies

In [1]:
import numpy as np
import pandas as pd

Arrays and matrices are both `ndarray`'s and can be viewed in similar ways.

In [2]:
# 1-D array (vector)
a1 = np.array([1, 2, 3])

# 2-D array (matrix)
a2 = np.array([[1, 2.0, 3.3],
               [4, 5, 6.5]])

# 3-D array (matrix)
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [4]:
# Exercise: What numpy function would you use to find the unique values in a3?

np.unique(a3)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

Let's check out our three arrays again.

In [8]:
a1

array([1, 2, 3])

In [9]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [10]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

Array shapes are always listed in the format `(row, column, n, n, n, ...)` where `n` is the number of dimensions.

In [25]:
## HELP!!!!!!!
# Aren't array shapes listed as (n, row, column)?

In [26]:
# Because a1 is a 1-D array, we only need to specify the column index.
a1[0]

1

In [28]:
# Because a2 is a 2-D array, we need to specify both the row and column index.
a2[0,0]

1.0

In [29]:
a2[0]

array([1. , 2. , 3.3])

In [31]:
# Because a3 is a 3-D array, we need to specify all three indices.
a3[0,0,0]

1

In [30]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
# Exercise: Get 2nd row (index 1) of a2
a2[1]

array([4. , 5. , 6.5])

In [24]:
# Exercise: Get the first two values of the first two rows of both arrays in a3
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

As dimensions increase, the harder this becomes.

In [32]:
# Exercise: Get only the first 4 numbers of each single vector in a4.
a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[7, 8, 7, 8, 6],
         [5, 1, 2, 4, 8],
         [8, 4, 4, 7, 2],
         [5, 5, 0, 2, 7]],

        [[3, 8, 1, 8, 9],
         [8, 8, 5, 1, 7],
         [7, 2, 1, 6, 8],
         [6, 2, 3, 6, 8]],

        [[5, 3, 9, 9, 1],
         [4, 6, 5, 0, 2],
         [9, 0, 3, 6, 0],
         [7, 7, 4, 0, 9]]],


       [[[5, 1, 7, 1, 7],
         [0, 1, 9, 1, 6],
         [9, 6, 9, 5, 4],
         [2, 0, 9, 4, 1]],

        [[7, 0, 1, 1, 7],
         [7, 6, 6, 7, 1],
         [1, 9, 6, 3, 9],
         [5, 8, 0, 7, 5]],

        [[4, 2, 4, 4, 9],
         [4, 3, 2, 3, 3],
         [6, 0, 9, 3, 0],
         [8, 4, 5, 8, 4]]]])

In [33]:
a4[:, :, :, :4]

array([[[[7, 8, 7, 8],
         [5, 1, 2, 4],
         [8, 4, 4, 7],
         [5, 5, 0, 2]],

        [[3, 8, 1, 8],
         [8, 8, 5, 1],
         [7, 2, 1, 6],
         [6, 2, 3, 6]],

        [[5, 3, 9, 9],
         [4, 6, 5, 0],
         [9, 0, 3, 6],
         [7, 7, 4, 0]]],


       [[[5, 1, 7, 1],
         [0, 1, 9, 1],
         [9, 6, 9, 5],
         [2, 0, 9, 4]],

        [[7, 0, 1, 1],
         [7, 6, 6, 7],
         [1, 9, 6, 3],
         [5, 8, 0, 7]],

        [[4, 2, 4, 4],
         [4, 3, 2, 3],
         [6, 0, 9, 3],
         [8, 4, 5, 8]]]])

In [34]:
# Note: `a4`'s shape (2, 3, 4, 5) means: 
# There are 2 outer arrays, made up of 3 inner arrays, each with 4 rows and 5 columns.